In [10]:
import pandas as pd
import os

In [52]:
path_a = r'C:\Users\Prinzessin\projects\decentnet\datasceyence\examples\example_results\lightning_logs\debug_oct_no_fc\version_15'
path_b = r'C:\Users\Prinzessin\projects\decentnet\datasceyence\examples\example_results\lightning_logs\dumpster\version_26'

In [53]:
file = 'metrics.csv'
#file = 'out_final_test.csv'
#file_a = 'out_2.csv'

In [54]:
df_a = pd.read_csv(os.path.join(path_a, file_a))

df_b = pd.read_csv(os.path.join(path_b, file))

df_a.info(), df_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   source        41 non-null     object
 1   target        41 non-null     object
 2   target_group  41 non-null     object
 3   value         41 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   test_acc   1 non-null      float64
 1   test_f1    1 non-null      float64
 2   test_prec  1 non-null      float64
 3   test_loss  1 non-null      float64
 4   test_cc    1 non-null      float64
 5   epoch      1 non-null      int64
 6   step       1 non-null      int64
dtypes: float64(5), int64(2)
memory usage: 184.0 bytes

(None, None)

In [56]:
df_b

   test_acc  test_f1  test_prec  test_loss   test_cc  epoch  step
0     0.375    0.375      0.225   1.353913  4.446337      0     0

In [50]:

a = pd.concat([df_a, df_b], axis=1)

In [51]:
a

,source,target,target_group,value,test_acc,test_f1,test_prec,test_loss,test_cc,epoch,step
0,0_0,10_10,decent1,0.684380,0.375,0.375,0.225,1.353913,4.446337,0.0,0.0
1,0_0,1_6,decent1,0.722644,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0_0,2_1,decent1,0.486219,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0_0,13_11,decent1,0.683856,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10_10,10_5,decent2,0.313974,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2_1,13_0,decent2,0.290580,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10_10,13_6,decent2,0.298153,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1_6,13_6,decent2,0.300071,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1_6,9_7,decent2,0.359126,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2_1,9_7,decent2,0.286706,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,13_11,9_7,decent2,0.273956,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,13_6,7_3,decent3,0.374516,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10_5,17_14,decent3,0.352728,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,9_7,17_14,decent3,0.324787,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,9_7,5_8,decent3,0.382144,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,9_7,0_7,decent3,0.299457,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10_5,12_12,decent3,0.375548,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,9_7,12_12,decent3,0.346507,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,10_5,5_14,decent3,0.310709,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,13_0,5_14,decent3,0.304986,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,13_6,5_14,decent3,0.351642,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,9_7,5_14,decent3,0.356749,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,13_6,12_14,decent3,0.335797,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,10_5,14_13,decent3,0.305204,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,13_0,14_13,decent3,0.357703,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,9_7,14_13,decent3,0.334916,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,17_14,5_14,decent1x1,0.344302,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,5_8,5_14,decent1x1,0.266480,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,14_13,5_14,decent1x1,0.239891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,5_8,7_9,decent1x1,0.326722,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,5_14,7_9,decent1x1,0.227444,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,7_3,8_16,decent1x1,0.246678,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,5_8,8_16,decent1x1,0.228967,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,0_7,8_16,decent1x1,0.304222,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,12_12,8_16,decent1x1,0.326521,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,5_14,8_16,decent1x1,0.284604,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,17_14,2_7,decent1x1,0.323431,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,5_8,2_7,decent1x1,0.314072,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,0_7,2_7,decent1x1,0.318648,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,12_12,2_7,decent1x1,0.354595,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,12_14,2_7,decent1x1,0.253764,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
a['val_loss']

0         NaN
1    1.571964
2         NaN
3         NaN
4    1.282192
5         NaN
6         NaN
7    1.782814
8         NaN
9         NaN
Name: val_loss, dtype: float64

In [33]:
a['test_loss']

   test_loss  test_loss
0        NaN   1.427124
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN
5        NaN        NaN
6        NaN        NaN
7        NaN        NaN
8        NaN        NaN
9   1.427124        NaN